#login-dialog {
	width: 450px;
	margin: auto;
	margin-top: 5px;
        background-color: white;
        border-radius: 15px;
       font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  

}
   


.relative{
	position:relative;
}
.absolute-text{
	position:absolute; bottom:0; font-size:15px; font-family:"vedana"; background:black;
	width:100%; text-align:center;
}